.font_unit_test{
    .standard{
        font-size: 10px;
    }
    .fontList{
        display: block;
        padding: 50px 30px;
        box-sizing: border-box;
        display: flex;
        width: 100%;
        gap: 10px;
        li{
            flex: 1;
            padding: 10px;
            border: 1px solid #4a4a4a;
            border-radius: 5px;
            .item{
                font-size: 14px;
                line-height: 1.2;
                
                em{
                    display: inline-block;
                    vertical-align: top;
                    padding: 10px;
                    border: 1px solid #e5e5e5;
                    background: #f8f8f8;
                    border-radius: 4px;
                }
            }
            .item_sample{
                margin-top: 5px;
                padding: 10px;
                border: 1px solid #e5e5e5;
                border-radius: 5px;
                background-color: #f8f8f8;
            }
            .text_px{
                font-size: 10px;
            }
            .text_rem{
                font-size: 1rem;
            }
            .text_em{
                font-size: 1em;
            }
            .text_vw{
                font-size: 1vw;
            }
            .text_vh{
                font-size: 1vh;
            }
        }
        
    }
    .control_box{
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 50px 30px 0;
        .title{
            font-size: 20px;
            line-height: 24px;
        }
        input[type=text]{
            border: 1px solid #4a4a4a;
            border-radius: 4px;
            padding: 5px 10px;
        }
        .btn_control{
            border: 1px solid #4a4a4a;
            padding: 5px 10px;
            border-radius: 4px;
        }
    }
}