.parent_box{
    display: block;
    width: 100%;
    height: 300px;
    margin-top: 20px;
    border: 2px solid #4a4a4a;
    box-sizing: border-box;
    // 컨테이너 쿼리에 필요한 속성 추가
    container-type: inline-size;
    container-name: test-container;
    .child_box{
        display: block;
        width: 200px;
        height: 200px;
        margin: 50px auto;
        background: red;
    }    
}
@container test-container (max-width: 900px){
    .child_box{
        background: blue;
    }
}