.bg_repeat{
    display: block;
    width: 500px;
    height: 75px;
    border: 1px solid #000;
    margin: 50px auto;
    resize: both;
    overflow: auto;
    background-image: url(../compornent/img/img_monsterball.png);
}