.bouncy_like{
  display: block;
  width: 100%;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  .btn_like{
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    border: 0;
    background: none;
    &::before{
      content: '';
      display: block;
      width: 20px;
      height: 18px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -9px 0 0 -10px;
      background: url(https://static.wehago.com/imgs/cmt/mobile/sp_mo_cmt.png) no-repeat -89px -107px / 400px 500px;
      transition: transform 500ms;
      transition-timing-function: cubic-bezier(.75, -3, .5, 4);
    }
    &.select::before{
      background-position: -174px -107px;
      transform: scale(1.5);
    }
  }
}