.progress_scroll_wrap{
    position: fixed;
    top: 0;
    left: 221px;
    right: 0;
    display: block;
    z-index: 100;
    #progress{
        background-color: #ff0000;
        height: 7px;
        width: 0;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
    }
    
}
.progress_text_box{
    display: block;
    width: 100%;
    overflow: auto;
    padding: 30px;    
    box-sizing: border-box;    
}
.progress_text_box > p{
    font-size: 40px;
    line-height: 1.2;
    text-align: center;
}