.autoClock_wrap{
    height: 100px;
    width: 320px;
    margin: 50px auto;
    position: relative;
    background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
    border-radius: 10px;
    cursor: default;
    animation: timeAni 1.5s linear infinite;
    .autoClock,
    span{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .autoClock{
        z-index: 100;
        width: calc(100% - 20px);
        height: calc(100% - 20px);
        background-color: #fff;
        border-radius: 10px;
    }
    #time{
        z-index: 10;
        height: 100%;
        color: #fff;
        font-size: 45px;
        line-height: 85px;
        font-weight: bold;
        letter-spacing: 1px;
        background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: animate29 1.5s linear infinite;
        text-align: center;
    }
    span{
        height: 100%;
        width: 100%;
        border-radius: 10px;
        background: inherit;
        &:first-child{
            filter: blur(7px);
        }
        &:last-child{
            filter: blur(20px);
        }
    }
}

@keyframes animate29 {
    100%{
        filter:  hue-rotate(360deg);
    }
    
}