
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 21.7rem;
}.label-9YS {
  height: 6.4rem;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.6;
  color: #ffffff;
  font-family: General Sans, 'Source Sans Pro';
  white-space: nowrap;
  width: 100%;
}
