
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 72.1rem;
}.main-header-Yf8 {
  width: 100%;
  height: 6.4rem;
  font-size: 9.6rem;
  font-weight: 600;
  line-height: 0.6666666667;
  color: #ffffff;
  font-family: General Sans, 'Source Sans Pro';
  white-space: nowrap;
}
