.main_page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    h1{
        &.move__bar{
            position: relative;
            display: block;
            font-size: 6.3vw;
            line-height: 1.2;
            color: #fff;
            font-weight: bold;
            &::before{
                content: 'Planic Skill Box';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                border-right: 1vw solid greenyellow;
                color: greenyellow;
                animation: animaition_effect 5s linear infinite;
                overflow:hidden;
                white-space: nowrap;
                padding-right: 5px;
            }
        }
        &.tictok__version{
            position: relative;
            display: block;
            font-size: 6.3vw;
            line-height: 1.2;
            color: #fff;
            font-weight: bold;
            text-shadow:  red -4px 0, cyan 4px 0;
            animation: tictok infinite 0.3s ease;
        }
    }
    .linkBox{
        position: relative;
        display: block;
        width: 10vw;
        font-size: 3vw;
        margin: 20vw auto 0;
        .link_join{
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            color: #fff;
            white-space: nowrap;
            animation: join 10s infinite ease-in-out;
            &:nth-child(1){
                animation-delay: -10s;
            }
            &:nth-child(2){
                animation-delay: -5s;
            }
        }
    }
    
}
@keyframes tictok{
    0%{
        text-shadow:  red 0 0, cyan 0 0;
    }
    50%{
        text-shadow:  red -4px -2px, cyan 4px 2px;
    }
    100%{
        text-shadow:  red 0 0, cyan 0 0;
    }
}
@keyframes join {
    0%, 20%, 100%{
        filter:blur(0px);
        opacity: 1;
    }
    40%, 80%{
        filter: blur(16px);
        opacity: 0;
    }

}