.skill_snb{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 220px;
    height: 100%;
    background-color: #fff;
    border-right: 1px solid #777;
    z-index: 10;
    .skill__title{
        display: block;
        padding: 24px 30px;
        box-sizing: border-box;
        font-size: 30px;
        height: 1.2;
        font-weight: 900;
        color: #4a4a4a;
        text-align: center;
        letter-spacing: -0.6px;
        border-bottom: 1px solid #777;
    }
    .skill__list{
        padding: 24px 15px;
        box-sizing: border-box;
        height: calc(100% - 85px);
        overflow: auto;
        &--item{
            display: block;
            padding: 4px 0;
            &:hover{
                & > a{
                    color: #1c90fb;
                }
            }
            &.select{
                & > a{
                    color: #1c90fb;
                    font-weight: bold;
                }
            }
            & > a,
            & > p{
                display: block;
                font-size: 14px;
                line-height: 1.1;
                letter-spacing: -0.6px;
                color: #4a4a4a;
                font-weight: normal;
            }
            & > p{
                color: #000;
                font-weight: 900;
                font-size: 16px;
            }
            &.sub{
                position: relative;
                box-sizing: border-box;
                padding-left: 15px;
                &::before{
                    content: '-';
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }

        }
    }
}
